<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav"
            aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['Home']">Trail Running Life</a>
        </div>
        <div class="collapse navbar-collapse" id="nav">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['Home']" href="">Home</a></li>
                <li><a [routerLink]="['People']" href="">Section</a></li>
                <li><a [routerLink]="['About']" href="">About</a></li>
            </ul>
        </div>
    </div>
</nav>
<div>
    <router-outlet></router-outlet>
</div>